fastapi==0.115.2
uvicorn[standard]==0.32.0
gunicorn==22.0.0
python-dotenv==1.0.1
PyJWT[crypto]==2.10.1
snowflake-connector-python==3.13.0
requests==2.32.3
pydantic==2.7.4
pydantic-settings
azure-monitor-opentelemetry
opentelemetry-instrumentation-fastapi
azure-storage-blob
azure-identity
python-multipart
azure-keyvault-secrets==4.8.0


# Testing
pytest==7.4.4
httpx==0.27.0
